{% extends 'base.html.twig' %}

{% block title %}Snowtricks - Forgot Password{% endblock %}

{% block body %}
    <div class="h-full mt-24 flex justify-center items-center">
        <div class="form w-full max-w-md bg-white flex flex-col py-5 px-8 rounded-lg shadow-lg">
            <h1 class="text-center text-3xl font-extrabold text-gray-900">Forgot password ?</h1>
            {{ form_start(forgotPasswordForm) }}

            <div class="group-inputs flex flex-col px-8 py-4 space-y-4">
                {{ form_label(forgotPasswordForm.email) }}
                {{ form_widget(forgotPasswordForm.email) }}
                <span class="text-red-500">{{ form_errors(forgotPasswordForm.email) }}</span>
            </div>

            <div class="sign-in-btn flex justify-center">
                <button type="submit" class="items-center text-center border-b-4 px-4 py-2 mx-2 bg-gray-100 border-gray-300 text-black rounded hover:shadow-md focus:outline-none">Send email</button>
            </div>
            {{ form_end(forgotPasswordForm) }}
        </div>
    </div>
{% endblock %}

