{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block body %}
<div id="home-background" class="h-screen bg-fixed bg-no-repeat bg-cover">
    <h1 id="home-title" class="px-6 pt-40 text-blue-300 text-5xl sm:text-9xl leading-relaxed">The WORLD<br>of SNOWBOARD</h1>
</div>
<div class="home-tricks-list mb-5" id="block-trick-list">
    <h2 class="text-center text-green-500 text-3xl p-4" id="tricks">Tricks</h2>
    <div class="group-tricks flex justify-around flex-wrap p-4" id="group-trick">
        {% for trick in tricks %}
            <div class="trick-card rounded-lg shadow-lg bg-white max-w-md overflow-hidden my-4">
                <a href="{{ path('trick_detail', {'slug': trick.slug}) }}"><img src="{% if trick.mediaPictures is not empty %}{{ asset('img/tricks/') }}{{ trick.mediaPictures|first.name }}{% else %}{{ asset('img/tricks/snowtrick.jpg') }}{% endif %}" alt="trick-picture" class="h-80 w-full"></a>
                <div class="px-6 py-4 flex">
                    <h3 class="font-bold w-full"><a href="{{ path('trick_detail', {'slug': trick.slug}) }}">{{ trick.title}}</a></h3>
                    {% if app.user is not empty %}
                        <div class="flex">
                            <a href=""><img src="{{ asset('img/icons/edit-pen.svg.png') }}" alt="edit-icon" class="object-contain h-7"></a>
                            <a href="{{ path('trick_delete', {'slug': trick.slug}) }}" class="pl-4"><img src="{{ asset('img/icons/trash.svg.png') }}" alt="delete-icon" class="object-contain h-7"></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-center hidden" id="load-more-tricks">
        <button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-blue-400 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
            <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            Load More
        </button>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        infiniteScroll();
    </script>
{% endblock %}
